
/*@font-face {*/
    /*font-family: Poppins; !* Имя шрифта *!*/
    /*src: url('../fonts/Poppins/Poppins-Regular.ttf'); !* Путь к файлу со шрифтом *!*/
/*}*/

.wrapper {
    display: grid;
    justify-items: center;
}

.wrapper > div{
display: grid;
    justify-items: center;
}